/* CSS CUSTOMS */
:root {
    --input-border-color: green;
    --password-border-color: red;
    --form-bg-color: #eee;
}


/* MAIN CSS */
*, *::before, *::after {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "OpenSansLight", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: "OpenSans", 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

body {
    display: flex;
    
}

button {
    font-family: "OpenSans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--password-border-color);
    border: 0px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.container-bg {
    width: calc(100% - 45%);
    height: 100%;
    background-image: url(../images/bg-register.jpg);
    background-size: cover;
    background-position: center;

}

.container-form {
    width: 45%;
    height: auto;
}

form, fieldset, .inputs-container {
    max-height: 80%;
}

fieldset {
    border: 0px;

}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    padding: 10px;
    border: 2px solid var(--input-border-color);
    border-radius: 6px;
    font-size: 1.2rem;
}

input:focus, select:focus {
    outline: 1px solid blue;
}

.label-input {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 80%;
}

select {
    border: 2px solid var(--input-border-color);
    width: 170px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: "OpenSansLight", sans-serif;
    color: #333;
    background-color: #f9f9f9;  
    border-radius: 6px;
    appearance: none; /* removes default arrow in most browsers */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
}

.select-container {
    display: flex;
    gap: 215px;
}

