@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(31, 127, 165);
    gap: 150px;
    color: white;
}

.body {
    font-family: "Inter", sans-serif;
    border: 3px solid gray;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

 h2, h1, ul {
    margin: 0;
    padding: 0;
 }

li {
    font-size: 18px;
    font-weight: 500;
}