/* CSS Setup */
ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

html {
    font-family: "DotaCustomFont", 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;   /* ensures body fills the viewport */
    width: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    background-color: rgb(88, 15, 15);
}


/* CSS header code */

header {
    background-color: rgb(88, 15, 15);
}

.header-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 1.2rem;
}

ul {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

li {
    text-align: center;
    flex: 1 1 auto;
    font-size: 1.5em;
}

li.header:hover {
    background-color: red;
}

a {
    color: white;
    text-decoration: none;
}


ul li.active a {
    border-bottom: 3px solid yellow; /* marker color */
    padding-bottom: 4px;
}

.logo {
    background-color: white;
    margin-left: 2em;
    opacity: 1;
}

/* CSS body code */

main {
    background-image: url(../resources/images/phantomassassin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 80%;
    margin: 0;
    padding: 0;
}

.site-footer {
    background-color: rgb(88, 15, 15);
    height: 5%;
    text-align: center;
}

