/* CSS Setup */
ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

html {
    font-family: "DotaCustomFont", 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}


/* CSS header code */

.header-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 1.2rem;
}

ul {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

li {
    text-align: center;
    flex: 1 1 auto;
    font-size: 1.5em;
}

li.header:hover {
    background-color: red;
}

a {
    color: white;
    text-decoration: none;
}


ul li.active a {
    border-bottom: 3px solid yellow; /* marker color */
    padding-bottom: 4px;
}

.logo {
    background-color: white;
    margin-left: 2em;
    opacity: 1;
}

/* CSS body code */

body {
    background-image: url(../resources/images/phantomassassin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

