/* CSS Setup */
ul, li {
    margin: 0;
    padding: 0;
}

html {
    font-family: "DotaCustomFont", 'Courier New', Courier, monospace;
    font-size: 16px;
}


/* CSS code */

.header-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}

ul {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li {
    flex: 1 1 auto;
    font-size: 1.5em;
}

.logo {
    margin-left: 2em;
}